.container-css {
  width: 100%;
  height: 300px;
  background-color: darkgray;
  margin-top: 150px;
}

.error-message {
  color: red;
}

.button-progress-container {
  margin-top: -27px !important;
}
